<!DOCTYPE html>
<html lang="fr">
{% extends "template.html" %}

{% block content %}
<h1 class="unnumbered" id="El-libro">El Sepulcro de Jacques Molai</h1>
<p><strong><u>El libro está aquí</u></strong></p>
<figure>
  <img class="cover-img" src="https://res.cloudinary.com/dxcap6jy/image/upload/v1789932118/El_Sepulcro_epub.jpg" />
</figure>

<h2 class="unnumbered" id="contraportada">la contraportada. :</h2>

<h3 class="unnumbered" id="sobre-el-autor"><strong>Nota sobre el autor :</strong></h3>
<p>
 Antiguo miembro de la O.S.M.T.H. (Orden Soberana y Militar del Templo de Jerusalén), Jean-Luc Charlier cuenta con un conocimiento íntimo y privilegiado de las logias templarias y sus rituales. </p>
<p> Su sólida formación en historia le ha permitido identificar con precisión las sutilezas del relato de Cadet de Gassicourt, ofreciendo así al lector claves de comprensión únicas y rigurosas.</p>

<h3 class="unnumbered" id=" Sinopsis"><strong> Sinopsis:</strong></h3>
<p>"<strong>Toda la historia comienza con un acto clandestino :</strong></p>
<p>la recuperación de las cenizas de Jacques de Molay, último gran maestre de la Orden del Temple, por parte de ocho templarios disfrazados de compañeros masones.</p> 
<p>Poco tiempo después, las cuatro logias secretas creadas por de Molay mientras estaba prisionero en la Bastilla ven la luz en los cuatro puntos cardinales de Europa: Nápoles para el Oriente, Edimburgo para el Occidente, Estocolmo para el Norte y París para el Mediodía.</p>
<p><em>Este libro se lee ya sea como una apasionante novela o con ojos de historiador.</em><p>
</p>He descifrado y maquetado pacientemente este texto raro para que sea accesible al mayor número posible de lectores. La traducción ha sido cuidadosamente trabajada para preservar la atmósfera y el tono solemne de la época, mientras que la nueva estructura en capítulos permite orientarse más fácilmente. Esta organización moderna permite captar mejor el mensaje original del autor: una advertencia sin concesiones contra ciertas logias masónicas, demostrando su papel directo entre los bastidores de la Revolución francesa.<br /></p>
<p><strong>La obra se completa con el análisis exclusivo de "La Llave de las Logias".</strong></p>


<div class="center">
  <p><strong>Jean-Luc CHARLIER de Falcon Smalt d'Ernas, C.F.</strong></p>
</div>
{% endblock %}
