{% extends "template.html" %} 
{% block title %}Les livres{% endblock %} 

{% block content %}
<div class="conteneur-principal">

  <!-- BLOC PREMIER LIVRE (Image + Titres alignés proprement) -->
  <div class="bloc-livre">
  
    <div class="bloc-livre-texte">
      <h1>PREMIER LIVRE</h1>
      <h2>le tombeau de jacques molai!</h2>
      <p>Il faudrait imaginer que l’histoire officielle n’est qu’un voile tendu sur une réalité bien plus secrète. 
      Si l’Ordre du Temple s’est éteint dans les flammes des bûchers en 1312, son esprit, lui, n'aurait jamais cessé de voyager dans l'ombre. 
      Au cours du XVIIIe siècle, alors que l'Europe des Lumières se passionnait pour l'occulte, une poignée d'initiés aurait ravivé la flamme endormie de la chevalerie à travers les rituels de la Stricte Observance.</p>
    </div>
  </div>

  <!-- ZONE DE LIENS / LANGUES -->
  <div class="zone-langues">
    <img class="drapeaux-img" src="{{ url_for('static', filename='images/drapeaux/fr.webp') }}" />
    <a href="{{ url_for('le_livre') }}">Edition française</a>
    <span class="separateur">|</span>
    
    <img class="drapeaux-img" src="{{ url_for('static', filename='images/drapeaux/gb.webp') }}" />
    <a href="{{ url_for('the_book') }}">English translation</a>
    <span class="separateur">|</span>
    
    <img class="drapeaux-img" src="{{ url_for('static', filename='images/drapeaux/es.webp') }}" />					
    <a href="{{ url_for('el_libro') }}">Traducción al español</a> 
    <span class="separateur">|</span>  
    
    <img class="drapeaux-img" src="{{ url_for('static', filename='images/drapeaux/pt.webp') }}" />
    <a href="{{ url_for('o_sepulcro') }}">Tradução em português</a>
  </div>

  <!-- BLOC SECOND LIVRE -->
  <div class="bloc-livre">
    <div class="bloc-livre-texte">
      <h1>SECOND LIVRE</h1>
      <h2>Mémoires pour servir à l'histoire du jacobinisme</h2>
      <a href="{{ url_for('memoires') }}">Mémoires pour servir à l'histoire du jacobinisme</a>
      <p>de L'Abbé Augustin Barruel s.</p>
      <h3>Abrégé par E. Perrenet en 1911</h3>
      <p>restructuré par Jean-Luc CHARLIER</p>
    </div>
  </div>

</div>
{% endblock %}
