<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Mes travaux d'édition</title>
  </head>
  <body>
	{% extends "template.html" %}
    {% block content %} 
	  
    <h1> Livres </h1>
    <p>Première édition</p>
    <p> Le tombeau de Jacques Molai! </p>
  
  
   <h2> Cadet de Gassicourt </h2>  
   <figure>
  <img class="cover-img" src="https://res.cloudinary.com/dxcap6jy/image/upload/v1790004840/cadet.webp" />
</figure>
   <p> Auteur du livre, écrit pour la première fois en 1795. </p>
   <h2>Sa vie: </h2>
   <p>Officiellement, il est le fils de Louis Claude Cadet de Gassicourt et de Marie Thérèse Françoise Boisselet. </p>
   
   <p>Cependant, dans ses Mémoires, son ami le baron Thiébault prétend qu'il était le fruit des amours de Louis XV et de Marie Thérèse Françoise Boisselet. </p>
   
	<p> Son père souhaitait lui faire étudier la pharmacie, mais le jeune homme, qui rencontrait chez ses parents des hommes de lettres tels que d'Alembert, 
   Buffon ou Condorcet, voulut se consacrer à la littérature. </p>
   
   <p>Il fit des études de droit et devint avocat, plaidant avec éloquence et un certain succès. </p>
   
   <p>Le 8 janvier 1789, il épousa, à Paris, Madeleine Félicité Baudet.</p>
Lorsque la Révolution éclata, Cadet de Gassicourt y adhéra avec enthousiasme, mais il n'hésita pas à condamner les excès du Tribunal révolutionnaire. </p>

<p>Il publia des chansons patriotiques et un Cahier de réformes, ou Vœux d'un ami de l'ordre.
Accusé d'avoir participé au 13 vendémiaire à la tête de la section du Mont-Blanc en 1795, il fut condamné par contumace, 

ce qui l'obligea à se cacher trois ans dans le Berry. La condamnation fut annulée plus tard par le jury criminel de la Seine. </p>

<p>À son retour, il se mit à la pharmacie et fut nommé premier pharmacien de Napoléon en 1809.</p>
<p>Il devint successivement membre de deux célèbres goguettes parisiennes : les diners du Vaudeville et le Caveau moderne.</p>
<p>Parallèlement, il publia de nombreux ouvrages sur les sciences, parmi lesquels, 

en 1803, un Dictionnaire de la chimie qui reprend les notions développées par Pierre Joseph Macquer quarante ans plus tôt, 

en les actualisant, grâce aux découvertes de Lavoisier notamment.</p> <p>Il se moqua de Madame de Staël et de Chateaubriand, 

et composa un ouvrage souvent cité sur les Templiers. </p>

<p>Pharmacien de Napoléon dans plusieurs campagnes, il fut secrétaire de la section de pharmacie à la création de l'Académie de médecine, 

et secrétaire du Conseil de Salubrité de la ville de Paris qu'il contribua à faire établir.</p>
<p>Sous la Restauration, il s'opposa au droit divin.</p>


<p>Il est inhumé au cimetière du Père-Lachaise (division 39) auprès de son fils, Félix Cadet de Gassicourt, 
pharmacien, et de son petit-fils, Ernest Cadet de Gassicourt, médecin, membre de l'Académie de médecine.
</p>
 {% endblock %}
</body>
</html>
