<!DOCTYPE html>
<html lang="fr">
{% extends "template.html" %}

{% block content %}
<h1 class="unnumbered" id="Le_livre">Le Tombeau de Jacques Molai</h1>
<p><strong><u>Le voici: </u></strong></p>
<figure>
  <img class="cover-img" src="https://res.cloudinary.com/dxcap6jy/image/upload/v1789932001/Pochette_epub.jpg" />
</figure>

<h2 class="unnumbered" id="la-4-page">la quatrième page: :</h2>

<h3 class="unnumbered" id="note-auteur"><strong>Note sur l'auteur :</strong></h3>
<p>Ancien membre de l’O.S.M.T.H. (Ordre Souverain Militaire du Temple de Jérusalem), Jean-Luc Charlier dispose d'une connaissance intime et privilégiée des loges templières et de leurs rituels.</p> 
<p>Sa solide formation en histoire lui a permis de cerner avec précision les subtilités du récit de Cadet de Gassicourt, offrant ainsi au lecteur des clés de compréhension uniques et rigoureuses.</p> 

<h3 class="unnumbered" id="synopsis"><strong>Synopsis:</strong></h3>
<p>"<strong>Toute l'histoire commence par un acte clandestin : </strong></p>


L'ouvrage est complété par l'analyse exclusive de "La Clef des Loges".

<p>la récupération des cendres de Jacques de Molay, dernier grand-maître de l'Ordre du Temple, par huit templiers déguisés en compagnons maçons. </p> 
<p>Peu de temps après, les quatre loges secrètes créées par de Molay alors qu'il était emprisonné à la Bastille voient le jour aux quatre coins de l'Europe : Naples pour l'Orient, Édimbourg pour l'Occident, Stockholm pour le Nord, et Paris pour le Midi. </p> 

<p><em>Ce livre se lit soit comme un roman, soit en historien.</em><p>
</p>J’ai patiemment déchiffré et remis en page ce texte rare afin qu’il soit accessible au plus grand nombre de lecteurs.
Bien que la nouvelle structure en chapitres permette de se repérer plus facilement, le texte original de Cadet de Gassicourt a été intégralement préservé dans son vieux français d'époque.
Cette organisation moderne permet de mieux capter le message originel de l'auteur : une mise en garde sans concession contre certaines loges maçonniques, en démontrant leur rôle direct dans les coulisses de la Révolution française.<br /></p>
<p><strong>ce livre est complété par une analyse de la Clé des loges. </strong></p>


<div class="center">
  <p><strong>Jean-Luc CHARLIER de Falcon Smalt d'Ernas, C.F.</strong></p>
</div>
{% endblock %}
