{% extends "template.html" %}

{% block lang %}fr{% endblock %}
{% block title %}Mémoires pour servir à l’histoire du jacobinisme{% endblock %}
{% block description %}ce livre vient en complément des recherches sur Cadet de Gassicourt{% endblock %}



	<meta property="og:title" content="{% block og_title %}Mémoires pour servir à l’histoire du jacobinisme{% endblock %}">
    <meta property="og:description" content="{% block og_description %}édition abrégée par E. Perrenet (1911).{% endblock %}">
    <meta property="og:image" content="{% block og_image %}https://www.jlcharly-edition.fr/static/images/barruel.jpg{% endblock %}">
    <meta property="og:url" content="{{ url_for(request.endpoint, _external=True) }}">
    <meta property="og:type" content="{% block og_type %}website{% endblock %}">
 
    
{% block content %}
	

<h1 class="unnumbered" id="jacobisme">Mémoires pour servir à l’histoire du jacobinisme</h1>

<figure>
  <img class="cover-img" src="/static/images/barruel.jpg" alt="abbé barruel, auteur du livre" />
</figure>

<h2>Abbé Barruel — Mémoires pour servir à l'Histoire du Jacobinisme</h2>
<p>Retranscription en cours de l'édition abrégée par E. Perrenet (1911); ce livre vient en 
complément des recherches sur Cadet de Gassicourt.</p>

<p>Comme Cadet de Gassicourt, l'abbé Barruel participe à la naissance du récit conspirationniste
La figure centrale est Augustin Barruel (1741-1820), prêtre jésuite exilé à Londres, 
qui publie de 1797 à 1799 ses Mémoires pour servir à l'histoire du jacobinisme en cinq tomes.</p> 

<p><em>C'est un essai de propagande contre-révolutionnaire qui structure la thèse en un triple complot :
Son  livre  auquel  il  a  donné  le  titre  un  peu  trop  long de  Mémoires  pour  servir  à  l’ Histoire  du  Jacobinisme, 
est l’œuvre  d'un  homme instruit et clairvoyant qui a connu personnellement les gens dont il parle,  
qui a été mêlé  aux  événements  qu'il  raconte, qui  en  a  été  lui-même  la  victime  et  qui  peut dire  avec  autorité  :  
voilà ce que j'ai vu. voilà ce  que j'ai  entendu,  voilà  ce  que  m'ont  rapporté  des  personnes dans  lesquelles  
je  puis  avoir  une  absolue confiance. </em></p>

<p>Le complot d'impiété : les philosophes (Voltaire, Diderot, d'Alembert, Rousseau) auraient « consacré leur vie à l'anéantissement du christianisme » 
dès 1728, préparant idéologiquement la subversion. </p>

<p>Le complot de rébellion : les francs-maçons, infiltrés par les Illuminés de Bavière (fondés le 1er mai 1776 par Adam Weishaupt), 
auraient orchestré le renversement de la monarchie.</p> 

<p>Le complot d'anarchie : les Jacobins auraient exécuté le plan par la terreur et la mobilisation populaire. 
Pour Barruel, la devise <em>« Liberté, Égalité, Fraternité » </em>n'était pas un slogan populaire mais la devise secrète des Illuminés.  
Le livre a été salué par Edmund Burke et a largement influencé la pensée conservatrice britannique.</p>

<div class="document">
  <h3>AVERTISSEMENT</h3>
  <a href="https://res.cloudinary.com/dxcap6jy/image/upload/v1791154681/Histoire_du_Jacobinisme.pdf" target="_blank" rel="noopener">Télécharger le PDF</a>
  		
  <h3>PREMIÈRE PARTIE :Conspiration des  Sophistes  de  l’impiété  </h3>
  
  <p>Ce qu'il importe de bien démontrer, c'est que, dans cette  évolution française, tout, 
  jusqu'à ses forfaits les plus épouvantables, a été prévu, combiné, résolu, préparé avec la plus profonde scélératesse par des hommes 
  qui avaient seuls le fil des conspirations longtemps ourdies dans les sociétés secrètes. </p>
  
  <p>Pour apprécier le travail de retranscription, voilà le livre et le pdf généré par mes soins en utilisant "texstudio":</p>
  <a href="https://ln5.sync.com/dl/269964a50#w7j8xm8j-3hat3yzi-xyaenz6d-bizy99nm"target="_blank" rel="noopener">Télécharger le livre</a>
  <span class="separateur">|</span>
  <p>L'abrégé de l'abbé Barruel:</p>
	<a href="https://books.googleusercontent.com/books/content?req=AKW5QaeP7_DkMYMsBiB1RiKwkuHf_qhStwluVBjObylXr_NsmHApE_a6d8Ds3wVO8cBDkXQHz_Aue2PA7L2yGPmp_Rf_UYt8MnBydYKn7ZZJ-2pf5oiX8wxEFNBgR88naX22hg2d5zi-4dKUMz06eESyPOwqvWEZpckHWwTPGuU32dB9gUmCW3EK8uOnnA6TMP4zlX-mwXgTfH2EE6A_gxJXmdqBagEl2rShrCF0-wsE7Y2mQWNDWv5zrj373mI_PEdGUXJaID0O_FdJgSQrsfaW7JEZIijYXEQUzoZrjG-3O1gGO5qYvqg" arget="_blank" rel="noopener">Télécharger le PDF</a>
  <span class="separateur">|</span>
  <p>Télécharger ma retranscription:</p>
  <a href="https://res.cloudinary.com/dxcap6jy/image/upload/v1791483620/Histoire_du_Jacobinisme.pdf" target="_blank" rel="noopener">Télécharger le PDF</a>
</div>

<div class="document">
  <h3>Partie II — Conspiration des sophistes de la rébellion</h3>
  <p>En cours de retranscription.</p>
</div>

<div class="document">
  <h3>Partie III — Les Conspirations (à venir)</h3>
</div>

<div class="document">
  <h3>Partie IV — Partie historique (à venir)</h3>
</div>

{% endblock %}

