<!DOCTYPE html>
<html lang="fr">
{% extends "template.html" %}

{% block content %}
<h1 class="unnumbered" id="O-livro">O Túmulo de Jacques Molai</h1>
<p><strong><u>O livro está aqui.</u></strong></p>
<figure>
  <img class="cover-img" src="https://res.cloudinary.com/dxcap6jy/image/upload/v1789932144/o_sepulcro_epub.jpg" />
</figure>

<h2 class="unnumbered" id="contracapa">A contracapa :</h2>

<h3 class="unnumbered" id="sobre-el-autor"><strong>Nota sobre el autor :</strong></h3>
<p>Antigo membro da O.S.M.T.H. (Ordem Soberana e Militar do Templo de Jerusalém), Jean-Luc Charlier possui um conhecimento íntimo e privilegiado das lojas templárias e dos seus rituais.</p> 
<p>A sua sólida formação em história permitiu-lhe identificar com precisão as sutilezas do relato de Cadet de Gassicourt, oferecendo assim ao leitor chaves de compreensão únicas e rigorosas.</p> 

<h3 class="unnumbered" id="Sinopse"><strong>Sinopse:</strong></h3> 
<p><strong>Toda a história começa com um ato clandestino:</strong></p> 
<p>a recuperação das cinzas de Jacques de Molay, último Grão-Mestre da Ordem do Templo, por parte de oito templários disfarçados de companheiros maçons.</p> 
<p>Pouco tempo depois, as quatro lojas secretas criadas por de Molay enquanto esteve prisioneiro na Bastilha vêm à luz nos quatro pontos cardeais da Europa: </p>
<p>Nápoles para o Oriente, Edimburgo para o Ocidente, Estocolmo para o Norte e Paris para o Sul.</p> 
<p><em>Este livro pode ser lido tanto como uma apaixonante novela como com olhos de historiador.</em></p> 
<p>Decifrei e maqueteei pacientemente este texto raro para que seja acessível ao maior número possível de leitores.</p> 
<p>A tradução foi cuidadosamente trabalhada para preservar a atmosfera e o tom solene da época, enquanto a nova estrutura em capítulos permite uma orientação mais fácil. Esta organização moderna permite captar melhor a mensagem original do autor: um alerta sem concessões contra certas lojas maçónicas, demonstrando o seu papel direto nos bastidores da Revolução francesa.</p> 
<p><strong>A obra é completada com a análise exclusiva de "A Chave das Lojas".</strong></p>

<div class="center">
  <p><strong>Jean-Luc CHARLIER de Falcon Smalt d'Ernas, C.F.</strong></p>
</div>
{% endblock %}
