<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
   <meta charset="utf-8">
   <title>{% block title %}Flask Parent Template{% endblock %}</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">
 </head>
 <body>
    <header>
      <div class="container">
        <h1 class="logo">Mes livres</h1> <figure>
  <img class="cover-img" src="https://res.cloudinary.com/dxcap6jy/image/upload/v1788026781/project_images/livre_ouvert_i8pxhi.jpg" />
</figure>
        <strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('home') }}">Livres</a></li>
            <li><a href="{{ url_for('about') }}">Au sujet du site</a></li>
			<li>
				<img class="drapeaux-img" src="{{ url_for('static', filename='images/drapeaux/fr.webp') }}" />
						<a href="{{ url_for('le_livre') }}">Edition française</a>
  &nbsp;|&nbsp;
				<img class="drapeaux-img" src="{{ url_for('static', filename='images/drapeaux/gb.webp') }}" />
						<a href="{{ url_for('the_book') }}">English translation</a>
  &nbsp;|&nbsp;
				<img class="drapeaux-img" src="{{ url_for('static', filename='images/drapeaux/es.webp') }}" />
						<a href="{{ url_for('el_libro') }}">Traducción al español</a>
			</li>          
		   </ul>
        </nav></strong>
      </div>
    </header>

    {% block content %}
    {% endblock %}

 </body>
</html>
